<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="database-conection" 
			connectionString="Data Source=server-andromeda.database.windows.net;Initial Catalog=Andromeda-database;Persist Security Info=True;User ID=Administrador;Password=@ndr0med@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>